# ===============================
# Dependencies
# ===============================
node_modules/

# ===============================
# Environment Variables
# ===============================
.env
.env.*
!.env.example

# ===============================
# Frontend (Next.js)
# ===============================
.next/
out/
build/
coverage/
.vercel/

# ===============================
# Backend
# ===============================
server/dist/
server/build/
server/generated/prisma/

# ===============================
# Logs
# ===============================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ===============================
# OS / Editor
# ===============================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ===============================
# TypeScript
# ===============================
*.tsbuildinfo
next-env.d.ts
